Package: com.scottlearn.FTLSaver
Name: FTLSaver
Version: 1.0.2
Architecture: iphoneos-arm
Description: An application for saving FTL games.
Maintainer: cscott <8th.realm@gmail.com>
Author: Tsubashi
Section: Application
Depends: firmware(>= 7.0.0)
Icon: file:///Applications/FTLSaver.app/Icon.png
