Package: com.scottlearn.FTLSaver
Name: FTLSaver
Depends: 
Version: 1.0.0
Architecture: iphoneos-arm
Description: A test application to save FTL games.
Maintainer: cscott
Author: cscott
Section: Utilities
