{
    CFBundleExecutable = "FTLSaver";
    CFBundleIconFile = icon.png;
    CFBundleIdentifier = "com.scottlearn.FTLSaver";
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundlePackageType = APPL;
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms = (
      iPhoneOS
    );
    UIDeviceFamily = (
      2
    );
    CFBundleVersion = 1.0;
    DTPlatformName = iphoneos;
    DTSDKName = iphoneos3.0;
    LSRequiresIPhoneOS = 1;
    MinimumOSVersion = 3.0;
    UISupportedInterfaceOrientations = (
      UIInterfaceOrientationLandscapeRight
    , UIInterfaceOrientationLandscapeLeft 
    );
}
